<div
  class="flex flex-col items-center justify-between w-full h-full max-w-sm text-black dark:text-white"
>
  <h2 class="flex w-full text-6xl font-extrabold">
    hello<span class="animate-bounce">.</span><span
      class="animation-delay-200 animate-bounce">.</span
    ><span class="animation-delay-400 animate-bounce">.</span>
  </h2>
  <form
    id="contact-form"
    action="https://formspree.io/f/xyyowvan"
    method="POST"
    @submit.prevent="submitData"
    x-data="contactForm()"
    class="w-full mt-8"
  >
    <div class="space-y-8">
      <div class="relative">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name:"
          autocomplete="name"
          x-model="formData.name"
          class="form-field-input peer"
        />
        <label for="name" class="form-field-label">Name:</label>
      </div>

      <div class="relative">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email:"
          autocomplete="email"
          x-model="formData.email"
          class="form-field-input peer"
        />
        <label for="email" class="form-field-label">Email:</label>
      </div>

      <div class="relative">
        <textarea
          type="text"
          rows="5"
          id="message"
          name="message"
          placeholder="Write a message..."
          x-model="formData.message"
          class="w-full resize-none form-field-input peer"></textarea>
        <label for="message" class="form-field-label">Message:</label>
      </div>
    </div>
    <!-- "catches" the bots -->
    <input type="text" name="_honey" class="hidden" />

    <button class="mt-4 btn-primary" x-text="submitLabel"></button>
  </form>
</div>

<script is:inline>
  function contactForm() {
    return {
      formData: {
        name: "",
        email: "",
        message: "",
      },
      submitting: false,
      submitLabel: "Say wassup",

      submitData() {
        var form = document.getElementById("contact-form");
        this.submitLabel = "Sending...";
        (this.submitting = true),
          fetch(event.target.action, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify(this.formData),
          })
            .then((res) => {
              if (res.ok) {
                this.submitLabel = "Got it, thanks!";
                form.reset();
              } else {
                res.json().then((data) => {
                  if (Object.hasOwn(data, "errors")) {
                    this.submitLabel = data["errors"]
                      .map((error) => error["message"])
                      .join(", ");
                  } else {
                    this.submitLabel = "Ope...try again";
                  }
                });
              }
            })
            .catch((error) => {
              this.submitLabel = "Ope...try again";
            })
            .finally(() => {
              this.submitting = false;
            });
      },
    };
  }
</script>
