---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Free Clout">
    <div
        class="lg:lx8 flex min-h-[100svh] items-center justify-center px-4 xl:px-16"
    >
        <h1 class="w-full max-w-screen-xl text-center text-xl font-bold">
            Some stuff I like
        </h1>
    </div>
    <div class="container mx-auto grid gap-4 px-4 md:grid-cols-2 md:gap-8">
        <Card
            title="tailwindcss"
            link="https://tailwindcss.com"
            external
            badges={{ red: ['webdev'] }}
        >
            Love it; gotta have it.
        </Card>
        <Card
            title="alpinejs"
            link="https://alpinejs.dev"
            external
            badges={{ red: ['webdev'] }}
        >
            Would this list be complete without at least one javascript
            framework?
        </Card>
        <Card
            title="old book illustrations"
            link="https://www.oldbookillustrations.com/"
            external
            badges={{ green: ['design'] }}
        >
            These have actually come in handy several times for design projects.
            Use them as inspiration or as is because they're pretty much all in
            the public domain.
        </Card>
        <Card
            title="arc browser"
            link="https://arc.net"
            external
            badges={{ blue: ['MacOS'] }}
        >
            Finally, someone actually put some thought and effort into the
            browser. It's amazing what The Browser Company have done with this
            product. It's changed the way I browse. And I browse a lot. So,
            really, it's changed my life.
        </Card>
        <Card
            title="amethyst"
            link="https://ianyh.com/amethyst/"
            external
            badges={{ blue: ['MacOS'] }}
        >
            I hated managing windows in MacOS. Now I love it.
        </Card>
        <Card
            title="MyGesture"
            link="https://play.google.com/store/apps/details?id=me.hisn.mygesture&pcampaignid=web_share"
            external
            badges={{ yellow: ['Android'] }}
        >
            I adjust the volume and screen brightness of my phone by swiping up
            and down on the very right edge of my screen. It's one of my
            favorite "Andoird tricks" to show people and I've gotten so used to
            it that I wouldn't want to live without it.
        </Card>
        <Card
            title="Power Toys"
            link="https://learn.microsoft.com/en-us/windows/powertoys/"
            external
            badges={{
                blue: ['Windows'],
            }}
        >
            This was cooler when it was gatekept.
        </Card>
        <Card
            title="Marco Polo"
            link="https://www.marcopolo.me/"
            external
            badges={{
                yellow: ['Android', 'iOS'],
            }}
        >
            This app has single handedly kept alive two of the best friendships
            I've ever had. Can't put a price on that.
        </Card>
        <Card
            title="Nova Launcher"
            link="https://play.google.com/store/apps/details?id=com.teslacoilsw.launcher&hl=en&gl=US"
            external
            badges={{
                yellow: ['Android'],
            }}
        >
            I rock the default launcher that came on my Nothing Phone (1) these
            days, but this was by far my favorite and most used app from about
            2017 to 2020. And it's probably were most of my UI inspiration
            originated from.
        </Card>
        <Card
            title="YNAB"
            link="https://ynab.com"
            external
            badges={{
                green: ['budgeting'],
            }}
        >
            I've tried a handful of budgeting softwares over the years and this
            is the only one that's stuck. It's easy to start using, but can get
            really complicated if you want it to. YouTube is your best friend.
        </Card>
    </div>
</Layout>
