---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Hudson Whittaker's Portfolio Website">
    <div
        id="hero-section"
        class="flex min-h-[100svh] w-screen flex-col justify-center px-4 lg:px-8 xl:px-16"
    >
        <div class="mx-auto w-full max-w-screen-xl">
            <h1 class="mb-2 text-2xl font-bold lg:text-3xl xl:text-4xl">
                Hudson Whittaker
            </h1>
            <h2 class="max-w-lg">
                I'm a frontend web developer. Scroll this page to get an idea of
                what I'm about or use the <code>nav</code> to skip to your
                favorite
                <code>href</code>.
            </h2>
        </div>
    </div>
    <div class="container mx-auto flex flex-col p-6 pt-0">
        <div class="my-16 grid grid-cols-1 gap-16 lg:mb-32 xl:grid-cols-3">
            <Card title="Web Development" link="/webdev">
                <p>
                    I have a software engineering degree. And yet, I've been
                    conning <a href="https://mir.us" target="_blank"
                        >Mirus Research</a
                    > into thinking I'm a web developer for the past two years.
                    🤫 How did I get here? Well, this is how.
                </p>
            </Card>
            <Card title="Film Photography" link="/film">
                <p>
                    This interest has only developed (get it?) recently. In May
                    2022 I went to Iceland for a week and my friend let me shoot
                    some color positive film in his Cannon A-1. I shortly got my
                    own Nikon FE and have been shooting everywhere I go since.
                </p>
            </Card>
            <Card title="Free Clout" link="/free-clout">
                <p>
                    There are a lot of people, software, and resources that I
                    have found over the years that I don't hate. I've decided to
                    curate and organize them here. Definitely check this list
                    out because there's nothing there for you.
                </p>
            </Card>
        </div>
        <ContactForm title="Contact Form">
            <p>
                If you made it this far, then we'd probably get along. Let's
                chat.
            </p>
        </ContactForm>
    </div>
</Layout>
<script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
></script>

<!-- <script is:inline src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"
></script>
    <script is:inline>
    VANTA.FOG({
        el: '#hero-section',
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        highlightColor: 0xffffff,
        midtoneColor: 0x0,
        lowlightColor: 0x0,
        baseColor: 0x0,
        blurFactor: 0.74,
        zoom: 0.5,
    });
</script> -->
<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.clouds.min.js"></script>
<script is:inline>
    VANTA.CLOUDS({
        el: '#hero-section',
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        skyColor: 0x0,
        cloudColor: 0x0,
        cloudShadowColor: 0x0,
        sunColor: 0xff0000,
        sunGlareColor: 0xff0000,
        sunlightColor: 0xffffff,
        speed: 0.3,
    });
</script>
