---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Hudson Whittaker's Portfolio Website">
    <div class="container mx-auto flex flex-col p-6 pt-0 lg:p-0">
        <div class="flex h-screen flex-col justify-center px-4">
            <h1 class="mb-2 text-2xl font-bold">Hudson Whittaker</h1>
            <h2>
                I'm a frontend web developer. Scroll this page to get an idea of
                what I'm about or use the <code>nav</code> to skip to your
                favorite
                <code>href</code>.
            </h2>
        </div>
        <div class="mb-16 grid grid-cols-1 gap-16 lg:mb-32 xl:grid-cols-3">
            <Card title="Web Development" link="/webdev">
                <p>
                    I have a degree in software engineering from Olivet Nazarene
                    University. To earn that piece of paper I wrote a lot of
                    Java, a little bit of C++, and spent way too much time
                    writing papers about thermofluids that never got graded (I'm
                    still salty,
                    <a
                        href="https://www.ratemyprofessors.com/professor?tid=1554171"
                        target="_blank">Schroeder</a
                    >). Those were all boring so, instead of trying my senior
                    year, I did graphic design and web development on the side.
                    Somehow, shortly after graduating, I got a job at
                    <a href="https://mir.us" target="_blank">Mirus Research</a>
                     and I've been conning them for the past two years. 🤫
                </p>
            </Card>
            <Card title="Film Photography" link="/film">
                <p>
                    This interest has only developed (get it?) recently. In May
                    2022 I went to Iceland for a week and my friend let my shoot
                    a roll in his Cannon A-1. Obviously I was hooked. I got my
                    own Nikon FE and have been shooting everywhere I go since.
                </p>
            </Card>
            <Card title="Free Clout" link="/free-clout">
                <p>
                    There are a lot of people, software, and resources that I
                    have found over the years that I don't hate. I've decided to
                    curate and organize them here. Definitely check this list
                    out because there's nothing there for you.
                </p>
            </Card>
        </div>
        <ContactForm title="Contact Form">
            <p>
                If you made it this far, then we'd probably get along. Let's
                chat.
            </p>
        </ContactForm>
    </div>
</Layout>
