---
const { title, content, link } = Astro.props;
---

<section
  x-data="{ shown: false }"
  x-intersect.once.full="shown = true"
  class="min-h-[100px]"
>
  <div
    class="flex flex-col gap-4 rounded-2xl bg-black-800 p-6"
    x-show="shown"
    x-transition.duration.700ms
  >
    <h2 class="text-xl font-bold">{title}</h2>
    <slot />
    <a
      href={link}
      class="group mt-auto inline-block font-bold transition-colors hover:text-red-500"
      >Learn more <i
        class="fa-solid fa-arrow-right pl-1 transition-transform group-hover:translate-x-1"
      ></i>
    </a>
  </div>
</section>
