---
import { Icon } from 'astro-icon';
---

<nav
    class="fixed z-10 flex h-auto w-auto flex-col-reverse items-end rounded-xl bg-black-900 text-white transition max-md:bottom-2 max-md:right-2 md:top-4 md:left-4 md:right-4 md:block md:bg-black/5 md:p-2 md:backdrop-blur md:z-10"
    x-data="{ open: false, activePage: window.location.pathname.replaceAll('/',''), pageBeingHovered: window.location.pathname.replaceAll('/','') }"
    @click.outside="open = false"
>
    <div class="relative">
        <div
            @click="open = !open"
            class="bottom-0 right-0 flex h-20 w-20 cursor-pointer items-center justify-center md:hidden"
        >
            <Icon
                name="octicon:triangle-up-24"
                class="w-8 transition-transform"
                :class="open ? 'rotate-180' : 'rotate-0'"
            />
        </div>
        <span class="max-md:hidden h-full bg-white absolute -z-10 transition-all rounded-xl" :style="{ width: `${$refs[pageBeingHovered]?.offsetWidth || $refs.home.offsetWidth}px`, left: `${$refs[pageBeingHovered]?.offsetLeft || $refs.home.offsetLeft}px` }"></span>
        <ul
            x-cloak
            x-show="open"
            class="left-4 top-4 flex flex-col gap-2 p-4 pb-0 text-xl font-semibold md:inset-0 md:mx-auto md:!flex md:flex-row md:!h-auto md:w-full md:max-w-screen-lg md:justify-end md:!overflow-auto md:p-0 md:text-base"
            role="menubar"
            x-collapse
        >
            <li role="menuitem">
                <a
                    href="/"
                    x-ref="home"
                    @click="open = false"
                    @mouseover="pageBeingHovered = ''"
                    @mouseleave="pageBeingHovered = activePage"
                    class="block rounded-xl px-4 py-2 transition-colors"
                    :class="{ 'text-black': activePage == '' && pageBeingHovered == '', 'text-white/60': activePage == '' && pageBeingHovered != '', 'hover:text-black': activePage != '' }"
                    :aria-current="activePage == '/' ? 'page' : 'false'">Home</a
                >
            </li>
            <li role="menuitem">
                <a
                    href="/webdev"
                    x-ref="webdev"
                    @click="open = false"
                    @mouseover="pageBeingHovered = 'webdev'"
                    @mouseleave="pageBeingHovered = activePage"
                    class="block rounded-xl px-4 py-2 transition-colors"
                    :class="{ 'text-black': activePage == 'webdev' && pageBeingHovered == 'webdev', 'text-white/60': activePage == 'webdev' && pageBeingHovered != 'webdev', 'hover:text-black': activePage != 'webdev' }"
                    :aria-current="activePage == 'webdev' ? 'page' : 'false'">Web Dev</a
                >
            </li>
            <li role="menuitem">
                <a
                    href="/film"
                    x-ref="film"
                    @click="open = false"
                    @mouseover="pageBeingHovered = 'film'"
                    @mouseleave="pageBeingHovered = activePage"
                    class="block rounded-xl px-4 py-2 transition-colors"
                    :class="{ 'text-black': activePage == 'film' && pageBeingHovered == 'film', 'text-white/60': activePage == 'film' && pageBeingHovered != 'film', 'hover:text-black': activePage != 'film' }"
                    :aria-current="activePage == 'film' ? 'page' : 'false'">Film</a
                >
            </li>
            <li role="menuitem">
                <a
                    href="/free-clout"
                    x-ref="free-clout"
                    @click="open = false"
                    @mouseover="pageBeingHovered = 'free-clout'"
                    @mouseleave="pageBeingHovered = activePage"
                    class="block rounded-xl px-4 py-2 transition-colors"
                    :class="{ 'text-black': activePage == 'free-clout' && pageBeingHovered == 'free-clout', 'text-white/60': activePage == 'free-clout' && pageBeingHovered != 'free-clout', 'hover:text-black': activePage != 'free-clout' }"
                    :aria-current="activePage == 'free-clout' ? 'page' : 'false'"
                    >Free Clout</a
                >
            </li>
        </ul>
    </div>
</nav>
