<div
  class="w-full flex justify-between text-sm p-4 mt-8 mb-24 bg-black-800 md:mb-0 md:mt-16 lg:mt-24 xl:mt-32"
>
  <a href="https://youtu.be/wpV-gGA4PSk"><strong>free bitcoin</strong></a>
  <span>powered by <em>caffeine</em></span>
</div>
