<div
    class="mb-24 mt-8 flex w-full justify-between bg-black-800 p-4 text-sm md:mb-0 md:mt-16 lg:mt-24 xl:mt-32"
>
    <a href="https://youtu.be/wpV-gGA4PSk"><strong>free bitcoin</strong></a>
    <span>powered by <em>caffeine</em></span>
</div>
