<nav
  class="fixed bottom-2 right-2 rounded-xl bg-black-900 h-20 w-20 md:h-32 md:top-0 md:-left-1.5 md:w-screen md:rounded-none md:bg-transparent md:bg-gradient-to-b md:from-black text-white"
  x-data="{ open: false, active: window.location.pathname }"
  :class="{ 'h-64 w-40': open, 'draggable': !open}"
  @click.outside="open = false"
>
  <div
    @click="open = !open"
    class="cursor-pointer items-center justify-center flex h-20 w-20 absolute bottom-0 right-0 md:hidden"
  >
    <i class="fa-solid fa-caret-up fa-2x" :class="{ 'rotate-180': open }"></i>
  </div>
  <ul
    x-show="open"
    class="text-xl font-semibold space-y-2 left-4 top-4 absolute md:w-full md:max-w-screen-lg md:justify-end md:text-base md:!flex md:space-y-0 md:space-x-2 md:left-auto md:right-1/2 md:translate-x-1/2 md:top-6"
    role="menubar"
  >
    <li role="menuitem">
      <a
        href="/"
        class="py-2 px-4 rounded-xl transition-colors"
        :class="active == '/' ? 'bg-white text-black' : 'hover:bg-white/10'"
        :aria-current="active == '/' ? 'page' : 'false'"
        >Home</a
      >
    </li>
    <li role="menuitem">
      <a
        href="/webdev"
        class="py-2 px-4 rounded-xl transition-colors"
        :class="active == '/webdev' ? 'bg-white text-black' : 'hover:bg-white/10'"
        :aria-current="active == '/webdev' ? 'page' : 'false'"
        >Web Dev</a
      >
    </li>
    <li role="menuitem">
      <a
        href="/film"
        class="py-2 px-4 rounded-xl transition-colors"
        :class="active == '/film' ? 'bg-white text-black' : 'hover:bg-white/10'"
        :aria-current="active == '/film' ? 'page' : 'false'"
        >Film</a
      >
    </li>
    <li role="menuitem">
      <a
        href="/free-clout"
        class="py-2 px-4 rounded-xl transition-colors"
        :class="active == '/free-clout' ? 'bg-white text-black' : 'hover:bg-white/10'"
        :aria-current="active == '/free-clout' ? 'page' : 'false'"
        >Free Clout</a
      >
    </li>
    <li role="menuitem">
      <a
        href="/playground"
        class="py-2 px-4 rounded-xl transition-colors"
        :class="active == '/playground' ? 'bg-white text-black' : 'hover:bg-white/10'"
        :aria-current="active == '/playground' ? 'page' : 'false'"
        >Playground</a
      >
    </li>
  </ul>
</nav>
