<nav
    class="fixed bottom-2 right-2 z-10 flex h-auto w-auto flex-col-reverse items-end rounded-xl bg-black-800 text-white transition md:inset-0 md:block md:h-32 md:w-screen md:rounded-none md:bg-transparent md:bg-gradient-to-b md:from-black md:p-2"
    x-data="{ open: false, active: window.location.pathname.replaceAll('/','') }"
    @click.outside="open = false"
>
    <div
        @click="open = !open"
        class="bottom-0 right-0 flex h-20 w-20 cursor-pointer items-center justify-center md:hidden"
    >
        <i
            class="fa-solid fa-caret-up fa-2x transition-transform"
            :class="open ? 'rotate-180' : 'rotate-0'"></i>
    </div>
    <ul
        x-cloak
        x-show="open"
        class="left-4 top-4 space-y-2 p-4 pb-0 text-xl font-semibold md:inset-0 md:mx-auto md:!flex md:!h-auto md:w-full md:max-w-screen-lg md:justify-end md:space-x-2 md:space-y-0 md:!overflow-auto md:p-2 md:text-base"
        role="menubar"
        x-collapse
    >
        <li role="menuitem">
            <a
                href="/"
                class="block rounded-xl px-4 py-2 transition-colors"
                :class="active == '' ? 'bg-white text-black' : 'hover:bg-white/10'"
                :aria-current="active == '/' ? 'page' : 'false'">Home</a
            >
        </li>
        <li role="menuitem">
            <a
                href="/webdev"
                class="block rounded-xl px-4 py-2 transition-colors"
                :class="active == 'webdev' ? 'bg-white text-black' : 'hover:bg-white/10'"
                :aria-current="active == 'webdev' ? 'page' : 'false'">Web Dev</a
            >
        </li>
        <li role="menuitem">
            <a
                href="/film"
                class="block rounded-xl px-4 py-2 transition-colors"
                :class="active == 'film' ? 'bg-white text-black' : 'hover:bg-white/10'"
                :aria-current="active == 'film' ? 'page' : 'false'">Film</a
            >
        </li>
        <li role="menuitem">
            <a
                href="/free-clout"
                class="block rounded-xl px-4 py-2 transition-colors"
                :class="active == 'free-clout' ? 'bg-white text-black' : 'hover:bg-white/10'"
                :aria-current="active == 'free-clout' ? 'page' : 'false'"
                >Free Clout</a
            >
        </li>
    </ul>
</nav>
